body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: burlywood;
    color: whitesmoke;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 100px; /* Adjust the width according to your logo */
  }
  
  .nav-links {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }
  
  .nav-links:hover {
    color: yellow;
  }
  
  .main-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .navbar-toggle {
    display: none;
  }
  
  .toggle-icon {
    width: 25px;
    height: 3px;
    background-color:white;
    margin: 5px 0;
  }
  
  @media screen and (max-width: 768px) {
    .main-nav {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      cursor: pointer;
    }
  
    .open {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links {
      padding: 15px;
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }
  